@media only screen and (max-width : 767px) {
    #buttonList{
        display: none;
        }

    h1{
        color: red;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */

    #categoryNavBar{
        display: none;
    }
    #whatIs{
        border-left: 0.1em solid black;
    }

    #benefits{
         border-left: 0.1em solid black;
         border-right: 0.1em solid black;
    }

    #courseList{
        border-right: 0.1em solid black;
    }

    h1{
        color: red;
        font-size: 3.5em;
    }
    h3{
        font-size: 2.5em;
    }
}


#categoryNavBar{
    border: 2px solid black;
    border-radius: 3px;
}

#categoryNavBarTitle{
    font-weight: bold;
}

#button{
    margin: 1em;
}

#otherCategoryList{

}
h1{
    text-align: center;

}

h3{
    text-align: center;
    text-decoration: underline;
}
#whatIs{

}

#benefits{
    <!-- background-color: lightsteelblue; -->
    min-height: 100%;
}
