
@media only screen and (min-width: 768px) {
.otherStuff{
    display:inline-block;
    float: left;
    height: auto;
    width:15%;
    position: relative;
    top: 2em;
}

.categoryPageContent{
    display:inline-block;
    height: auto;
    width: 85%;
    border-left: 0.2em solid black;
    padding-left: 1em;
}

.otherCategory{
    padding: 1em;
    font-weight: bold;
    position: relative;
    top:3em;
}

#backButton{
    border-radius: 0.5em;
    margin-left: 1em;
}

h1{
    text-align: center;
    font-size: 4em;
    color:green;
}

h3{
    color:blue;
    font-size: 1.5em;
}

.subtitle{
    display: inline-block;
    float: left;
    height: auto;
}

#whatIs{
    width:30%;
}
#benefits{
    width: 30%;
}

#myImage{
    width:40%;
    border-radius: 3em;
}

#courseList{
    float: left;
    width=40%;
    margin: 1em;
    max-width: 15em;
}
#instructorList{
    width: 40%;
    margin: 1em;

    position: relative;
    left: 4em;
    max-width: 15em;
}
    #otherCategoryNavBar{
        display: none;
    }
}

@media only screen and (max-width: 768px) {
 *{
     color: red;
 }

    h1{
        text-align: center;
        font-size: 3em;
    }

 .otherCategory{
    display:none;
 }

    #labelOtherCategory2{
        display: none;
    }
}

@media only screen and (max-width: 328px) {
    #labelOtherCategory{
        display: none;
    }
    #labelOtherCategory2{
        display: block;
    }


}
