/*******  GAG PAGE   *******/

.courseCategoryTitle{
    background-color: wheat;
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
}

.gagSubtitle{
    width: auto;
    display: block;
    float: left;
}
.backArrow{
    display: block;
    float: left;
    width: 50%;
    height: 50px;
    margin: 20px;
}
.gagTitle{
    display: block;
    float: left;
    width: 50%;
}
