/*******  GAG PAGE   *******/

.courseCategoryTitle{
    background-color: wheat;
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
}

.gagSubtitle{
    display: block;
    float: left;
    width: 100%;
}
.prova1{
    display: block;
    float: left;
    background-color: red;
    width: 10%;
}

.prova2{
    display: block;
    float: left;
    background-color: cadetblue;
    width: 90%;
}
