/************ NOTES: .class or #idElement      **************/

/* CSS FOR LOCATION PAGE*/
#myMap {
        width: 100%;
        height: 300px;
      }

<<<<<<< HEAD
aside {
    float : left;
    width : 25%;
}
=======
#provadiv{
     width:970px; margin:0 auto;
}

/********* CSS FOR ALLCOURSECATEGORIES PAGE   *********/

/*
#courseCategoryBody{
    height: 100%;
}

#courseBody>.courseCategoryContent{
    height: auto;

} */

.courseCategoryContent{
    margin-left: 2%;
    margin-right: 2%;
    background-color: blue;
}

.courseCategoryTitle{
    background-color: wheat;
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
}

.generalDescription{
    font-size: 20px;
    font-weight: 400;
    width: 38%;
    max-height:none;
    background-color:darksalmon;
    display: block;
    float:left;
}

.courseList{
    width:60%;
    height: 100%;

    background-color: lightgrey;
    display: block;
    float:left;
    margin-left: 2%;
}

.category{
    display:block;
    float: left;
    width: 95%;
    min-height: 150px;

    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: coral;
}

.descriptionInside{
    display: block;
    float: left;
    width: 50%;
    height: 100%;
    font-size: 18px;
    font-style: italic;
}

.imageInside{
    display: block;
    float: left;
    width: 50%;
    height: 100%;
    border: 1px solid red;
}

<<<<<<< HEAD
/*
.imageInside{
    width: 100%;
    display: inline-block;
    border: 1px solid red;
    margin: 10px;
}
*/

.imageGAG,
.imagePilates,
.imageSpinning{
    width: 100%;
}

/***** Make div linkable *****/
div.category {
    position: relative;
}

div.category a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 10; /* Places the link above everything else in the div */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}

/*******  GAG PAGE   *******/

.gagSubtitle{
    width: auto;
    display: block;
    float: left;
}
.backArrow{
    display: block;
    float: left;
    width: 50%;
    height: 50px;
    margin: 20px;
}
.gagTitle{
    display: block;
    float: left;
    width: 50%;
}
=======
>>>>>>> origin/master
>>>>>>> origin/master
