<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.BigGym"
        versionCode = "10"
        version     = "1.0.0">

        <name>BigGym</name>
        <description>
            Keep in touch with BigGym, its courses and instructors.
        </description>
        <author href="https://build.phonegap.com" email="support@phonegap.com">
            Hardeep Shoker
        </author>
        <content src="index.html" />
        <access origin="*" />
</widget>
