@media screen and (min-width: 1000px){
    .insContent, .insInformation{
        display: block;
        float: left;
        width: 46%;
        height: auto;
        margin: 1em;
    }

    h1{
        :color: red;
        text-align: center;
        font-weight:bold;
        :font-size: 3.5em;
    }

    #myButtonDiv{
        margin: 0.8em;
    }

    #imageProfile{
        border:0.2em solid red;
        border-radius: 1.5em;
    }

    .imageContainer{
        display: block;
        float: left;
        width: 45%;
        height: auto;
        max-height: 25em;
        margin: 0.5em;
    }

    .bio{
        display: block;
        float: left;
        width: 45%;
        height: auto;
        margin: 0.5em;
    }

    #qualification{
        display: block;
        width: 100%;
        height: auto;
    }

    #awards, #courses{
        display: block;
        float: left;
        width: 45%;
        height: auto;
        margin: 0.5em;
    }

    #categoryTitle{
        text-align: center;
    }

    .twitterApi{
        display: block;
        float: left;
        width: 100%;
        height: auto;
        margin-top: 2em;
    }

    .emptyDiv{
        clear: both;
    }

    #tweetTitle{
        text-align: center;
        background-color: #0084B4;
        color: white;
    }

    .twitterInfo{
        display: block;
        float: left;
        width: 35%;
        height: auto;
        border-right: 3px solid #0084B4;
    }

    .tweetContainer{
        display: block;
        float: left;
        width: 60%;
        height: auto;
    }

    h4{
        text-align: center;
    }

    #username{
        text-align: center;
        color: blue;
    }

    #twitterText{
        padding-top: 1.5em;
        font-style: italic;
        text-align: center;
    }

     #twitterData{
        font-size: 0.8em;
        text-align: right;
    }

    #imageTwitter{
        width: 90px;
        height: 90px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width:1000px){
     h1{
        :color: red;
        text-align: center;
        font-weight:bold;
        :font-size: 3.5em;
    }

    #backButton, .bio{
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }


    .imageContainer, .instructorBio{
        display: block;
        float: left;
        width: 45%;
        height: auto;
        margin: 1em;
        padding-left: 0.5em
    }

    .twitterApi{
        display: block;
        float: left;
        width: 100%;
        height: auto;
        margin-top: 2em;
    }
    .twitterInfo{
        display: block;
        float: left;
        width: 35%;
        height: auto;
        border-right: 3px solid #0084B4;
    }

    .tweetContainer{
        display: block;
        float: left;
        width: 60%;
        height: auto;
    }

     #tweetTitle{
        text-align: center;
        background-color: #0084B4;
        color: white;
    }

    #twitterText{
        font-style: italic;
    }

    h4{
        text-align: center;
    }

    #username{
        text-align: center;
        color: blue;
    }

    #imageTwitter{
        width: 90px;
        height: 90px;
        margin-left: auto;
        margin-right: auto;
    }

    #twitterText{
        padding-top: 1.5em;
        font-style: italic;
        text-align: center;
    }

     #twitterData{
        font-size: 0.8em;
        text-align: right;
    }

}

@media screen and (max-width:680px){
     h1{
        :color: red;
        text-align: center;
        font-weight:bold;
        :font-size: 3.5em;
    }
    .imageContainer, .instructorBio{
        display: block;
        float: left;
        width: 90%;
        height: auto;
        margin: 1em;
        padding-left: 0.5em
    }

    #imageProfile{
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width:380px){
    .twitterInfo{
        border: none;
    }
}
